body{
	margin: 0;
	padding: 0;}

#header-part{
	height: 75px;
	background-color: #165096;
}
.logo{
	height: 70px;
	width: auto;
	align-self: flex-start;
	padding-left: 10px;
}
.bg-img{
	margin: 0px;
	width: auto;
	height: 350px;
}
.parallax {
	background-image: url("images/buy-in-bulk.jpg");
	min-height: 450px;
	margin: 0px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.sales-pitch{
	margin: 0px;
  flex: 1;
	min-height: 500px;
  width: 100%;
  display: flex;
	background-color: #165096;
	color: #ffffff;
}
.sales-pitch h2{
	font-family: "Times New Roman", Times, serif ;
	padding: 35px;
	margin: 0px;
  color: #000000;
}
h2 span{
  background-color: #FFFFFF;
}
.sales-pitch  h4{
	font-family: "Times New Roman", Times, serif;
	padding: 35px;
  background-color: #000000;
	margin: 0px;
}
* {box-sizing:border-box}
.slides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #e59311;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255,255,255,0.7);
}
.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255,255,255,0.7);
}
.text {
  color: #f2f2f2;
  background-color: #165096;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  background-color: #165096;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #165096;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;}
.active, .dot:hover {
  background-color: #000000;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mySlides{
  display: flex;
  height: auto;
  width: 100%;
  margin: 0;
}
#banner{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
.slideshow-container{
  min-width: 450px;
  flex: 1;
  display: flex;
}
.info-container{
  min-width: 450px;
  flex: 1;
  display: flex;
  padding-left: 35px;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.made-usa{
  align-self: center;
  width: 25%;
  height: auto;
}
.centered{
  align-self: center;
}
.social-media{
  flex: 1;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  margin: 0;
}
.keychain{
  width: 50%;
  height: auto;
  float: left;
}
.left-pitch{
    flex: 1;
    align-self: center;
}
.right-pitch{
  flex:1;
  align-self: center;
}
.left-pitch-text{
  color: #ffffff;
  font-size: 20px;

}